<div class="col-1">
    <label>
        <input type="checkbox" class="i-checks" name="answers" value="A">&nbsp;A
    </label>
</div>
<div class="col-1">
    <label>
        <input type="checkbox" class="i-checks" name="answers" value="B">&nbsp;B
    </label>
</div>
<div class="col-1">
    <label>
        <input type="checkbox" class="i-checks" name="answers" value="C">&nbsp;C
    </label>
</div>
<div class="col-1">
    <label>
        <input type="checkbox" class="i-checks" name="answers" value="D">&nbsp;D
    </label>
</div>
<label for="answers" class="error col-2"></label>