<form role="form" class="form-inline search-form" style="margin-top:0px;" id="form_search_knowledge">
    <input type="hidden" name="knowledgeType" value="" />
    <div class="form-group">
        <input type="text" class="form-control" name="Id" placeholder="按编号搜索" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="NameOrKey" placeholder="按知识点/关键字搜索" />
    </div>
    <button class="btn btn-white search" type="button">
        搜索
    </button>
</form>