<!-- 优惠券列表 -->
<div id="conpoupage" class="conpoupage">
    <div class="conpou">
        <div class="closeconpou"><span id="closecoupon"><img src="/Images/StudentInfo/close2.png" /></span></div>
        <div class="coupontitle1"><img src="/Images/StudentInfo/yhq.png" />优惠券</div>
        <div class="coupontitle" id="AvailableCashVoucherPanel" style="display:none;">
            可领取券
        </div>
        <div class="conpoulist" id="AvailableCashVoucher_List">
        </div>
        <div class="coupontitle" id="HaveCashVoucherPanel" style="display:none;">
            本次可用
        </div>
        <div class="conpoulist" id="HaveCashVoucher_List">
        </div>
    </div>
</div>