
<form role="form" class="form-inline  col-10" id="form_search_school">
    <input type="hidden" name="Status" data-for="btn-status-list" value="" />
    <div class="form-group">
        <input type="number" class="form-control" name="SchoolId" placeholder="按编号搜索" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="SearchStr" placeholder="按校区名/校长/手机号搜索" />
    </div>
    @*<div class="form-group">
        <select class="form-control m-b select2-status select2" name="Status"></select>
    </div>*@
    <div class="form-group col-4">
        @Html.Partial("_AbhsRegion", new ViewDataDictionary
                       {
                            { "ProvinceId" , ViewBag.ProvinceId },
                            { "CityId" , ViewBag.CityId },
                            { "CountyId" , ViewBag.CountyId },
                            { "ProvinceFieldName" , ViewBag.ProvinceFieldName },
                            { "CityFieldName",ViewBag.CityFieldName},
                            { "CountyFieldName",ViewBag.CountyFieldName},
                            {"ClassName",ViewBag.ClassName }
                       })
    </div>
    <button class="btn btn-white search" type="button"><i class="fa fa-search"></i>&nbsp;搜索</button>
</form>


