<form role="form" class="form-inline search-form" id="form_search_resourcecount">
    <input type="hidden" name="countType" value="" />
    <div class="form-group" style="display:none">
        <button class="btn btn-white search" type="button">
            搜索
        </button>
    </div>
</form>
