<div class="form-group row">
    <label for="mark1" class="abhs-mark col-1 text-right">
        <input type="checkbox" id="mark1" name="mark" value="1" style="display:none;" />
        <i class="fa fa-lightbulb-o"></i>
    </label>
    <label class="col-2 col-form-label text-right required">题干</label>
    <div class="col-9">
        <p name="Name" class="form-control-plaintext"></p>
    </div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group row">
    <label for="mark2" class="abhs-mark col-1 text-right">
        <input type="checkbox" id="mark2" name="mark" value="2" style="display:none;" />
        <i class="fa fa-lightbulb-o"></i>
    </label>
    <label class="col-2 col-form-label text-right required">内容对齐方式</label>
    <div class="col-9" style="margin-top:8px;">
        <label class="lbl-align">
            <input disabled type="radio" name="alignment" value="1" />左对齐
        </label>
        <label class="lbl-align">
            <input style="margin-left:10px" disabled type="radio" name="alignment" value="2" />居中对齐
        </label>
    </div>
</div>
<div class="form-group row">
    <label class="col-2 offset-1 col-form-label text-right required">内容</label>
    <div class="col-9">
        <p name="Content" class="form-control-plaintext"></p>
    </div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group row align-items-center">
    <label class="col-2 offset-1 col-form-label text-right required">颜色</label>
    <div class="col-9">
        <input disabled type="radio" name="color" value="1">蓝
        <input disabled style="margin-left:10px" type="radio" name="color" value="2">橙
        <input disabled style="margin-left:10px" type="radio" name="color" value="3">红
        <input disabled style="margin-left:10px" type="radio" name="color" value="4">绿
        <input disabled style="margin-left:10px" type="radio" name="color" value="5">紫
    </div>
</div>
