<div class="form-group row">
    <div class="col-sm-12 text-center">
        <button class="btn btn-white"
                type="button" onclick="submitFormWithoutValidate()">
            保存
        </button>
        <button class="btn btn-primary"
                type="button" onclick="submitForm()">
            提交
        </button>
    </div>
</div>