<div class="row">
    <div class="col-sm-11">
        <div class="switch pull-right">
            <div class="onoffswitch">
                <input type="checkbox" class="onoffswitch-checkbox"
                       name="stemType"
                       onchange="changeType(this)"
                       value="1"
                       id="switch_stemType">
                <label class="onoffswitch-label" for="switch_stemType">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label required">题干</label>
    <div class="col-sm-9">
        <div class="custom-tab custom-tab-true">
            <textarea id="name" name="name" style="width:100%;">3</textarea>
        </div>
        <div class="custom-tab custom-tab-false">
            <div class="subject-upload"></div>
        </div>
        <input type="hidden" id="plainName" name="plainName" />
    </div>
</div>
<div class="hr-line-dashed"></div>