<div class="hr-line-dashed"></div>
<div class="form-group row">
    <label for="mark0" class="abhs-mark col-1 text-right">
        <input type="checkbox" id="mark0" name="mark" value="0" style="display:none;" />
        <i class="fa fa-lightbulb-o"></i>
    </label>
    <label class="col-2 col-form-label text-right required">年级</label>
    <div class="col-9">
        <p name="GradeText" class="form-control-plaintext"></p>
    </div>
</div>
<div class="form-group row">
    <label class="col-2 offset-1 col-form-label text-right required">难度</label>
    <div class="col-9">
        <p name="DifficultyText" class="form-control-plaintext"></p>
    </div>
</div>
<div class="form-group row">
    <label class="col-2 offset-1 col-form-label text-right required">关键字</label>
    <div class="col-9">
        <p name="Keywords" class="form-control-plaintext"></p>
    </div>
</div>
<div class="form-group row">
    <label class="col-2 offset-1 col-form-label text-right">主知识点</label>
    <div class="col-9">
        <p name="KnowledgeText" class="form-control-plaintext"></p>
    </div>
</div>
<div class="form-group row">
    <label class="col-2 offset-1 col-form-label text-right">次知识点</label>
    <div class="col-9">
        <p name="KnowledgeTexts" class="form-control-plaintext"></p>
    </div>
</div>