<div class="hr-line-dashed"></div>
<div class="form-group row">
    <label class="col-1 col-form-label text-right required">年级</label>
    <div class="col-11">
        <select name="grade"
                class="select2 form-control"
                data-ajax--url="@Url.Action("GetGrades", "Select2")"
                data-ajax--cache="true"
                data-placeholder="请选择年级" data-allow-clear="true"></select>
        <label for="grade" class="error"></label>
    </div>
</div>
<div class="form-group row">
    <label class="col-1 col-form-label text-right required">难度</label>
    <div class="col-11">
        <select name="difficulty"
                class="select2 form-control"
                data-ajax--url="@Url.Action("GetDifficulties", "Select2")"
                data-ajax--cache="true"
                data-placeholder="请选择难度" data-allow-clear="true"></select>
        <label for="difficulty" class="error"></label>
    </div>
</div>
<div class="form-group row">
    <label class="col-1 col-form-label text-right required">关键字</label>
    <div class="col-11">
        <input name="keywords" class="tagsinput form-control"
               type="text" />
        <label for="keywords" class="error"></label>
    </div>
</div>
<div class="form-group row">
    <label class="col-1 col-form-label text-right">主知识点</label>
    <div class="col-11">
        @*<select name="knowledge"
            class="select2 form-control"
            data-ajax--url="@Url.Action("GetMainKnowledges", "Select2")"
            data-ajax--cache="true"
            data-placeholder="请选择关键字" data-allow-clear="true"></select>*@
        <input type="text" id="knowledge" name="knowledge" class="form-control" 
               placeholder="请输入知识点编号或者知识点关键词" value="">
    </div>
</div>
<div class="form-group row">
    <label class="col-1 col-form-label text-right">次知识点</label>
    <div class="col-11">
        @*<select name="knowledges"
                class="select2 form-control"
                data-ajax--url="@Url.Action("GetKnowledges", "Select2")"
                data-ajax--cache="true"
                data-placeholder="请选择关键字" data-allow-clear="true"
                multiple></select>*@
        <input type="text" id="knowledges" name="knowledges" class="form-control"
               placeholder="请输入知识点编号或者知识点关键词" value="">
    </div>
</div>