
<div class="itemlist" style="display: none;">
    <div class="cbox changepass_step1">
        <div class="cllogin">修改密码</div>
        <div class="inpbox"><input placeholder="请输入原始密码" type="password" id="oldPwd" maxlength="18"/></div>
        <div class="error" id="olddiv" style="display:none;"><span class="mobileerror" id="oldpwderror"><img src="~/Images/StudentInfo/error.png" /> <span>原始密码输入错误</span></span></div>
        <div class="inpbox"><input placeholder="请输入新密码" type="password" id="newPwd" maxlength="18"/></div>
        <div class="inpbox"><input placeholder="请再次输入新密码" type="password" id="newPwd2" maxlength="18"/></div>
        <div class="error" style="display:none;" id="pwddiv2"><span class="mobileerror" id="pwderror2"><img src="~/Images/StudentInfo/error.png" /> 两次密码输入不一致</span></div>
        <div class="inpbox1"><button type="button" class="passfun1">确定</button></div>
    </div>
    <div class="cbox changepass_step2" style="display: none;">
        <div class="cllogin" style="padding-bottom: 35px;"><img src="~/Images/StudentInfo/success1.png" /></div>
        <div class="cllogin cllogin1" style="padding: 0 0 25px 0;">修改密码成功</div>
        <div class="faceinfo textcenter" style="padding: 0;">下次登录请使用新密码</div>
        <div class="inpbox1"><button class="passfun2" type="button">确定</button></div>
    </div>
</div>
