@using System.Text.RegularExpressions;

<div class="itemlist" style="display: none;">
    <div class="cbox findpass_step1">
        <div class="cllogin">找回密码</div>
        <div class="username">账号：<span class="newphone">@Regex.Replace(ViewBag.Mobile, "(\\d{3})\\d{4}(\\d{4})", "$1****$2")</span></div>
        <div class="inpbox"><input placeholder="请输入短信验证码" type="text" id="findcode" maxlength="4"/><span status="1" class="feachBtn" id="findbtn">发送验证码</span></div>
        <div class="error findcodeerror" style="display:none;"><span class="mobileerror findcodeerror"><img src="~/Images/StudentInfo/error.png" /> <span class="codemsg">验证码输入不正确</span></span></div>
        <div class="inpbox1"><button type="button" class="findpassfun1">验证</button></div>
    </div>
    <div class="cbox findpass_step2 findstep" style="display: none;">
        <div class="cllogin cllogin1" style="padding: 50px 0 10px 0;">设置密码</div>
        <div class="inpbox"><input placeholder="请输入新密码" type="password" id="newPwd3" maxlength="18"/></div>
        <div class="inpbox"><input placeholder="请再次输入新密码" type="password" id="newPwd4" maxlength="18"/></div>
        <div class="error findpwderror" style="display:none;"><span class="mobileerror findpwderror"><img src="~/Images/StudentInfo/error.png" /> <span class="codemsg">两次密码输入不一致</span></span></div>
        <div class="inpbox1"><button class="findpassfun2" type="button">确定</button></div>
    </div>
    <div class="cbox findpass_step3 findstep" style="display: none;">
        <div class="cllogin" style="padding-bottom: 35px;"><img src="~/Images/StudentInfo/success1.png" /></div>
        <div class="cllogin cllogin1" style="padding: 0 0 25px 0;">找回密码成功</div>
        <div class="faceinfo textcenter" style="padding: 0;">下次登录请使用新密码</div>
        <div class="inpbox1"><button class="findpassfun3" type="button">确定</button></div>
    </div>
</div>
