<div class="itemlist" style="display: none;">
    <div class="logintable">
        <table class="logintypebox">
            <thead>
            <th>时间</th>
            <th>IP</th>
            <th>地区</th>
            <th>登录方式</th>
            </thead>
            <tbody id="table_records">
                
            </tbody>
        </table>
    </div>
    <div class="pagebox">
        <div id="pagelogin"></div>
    </div>
</div>
