<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="redis" type="AbhsChinese.Code.Cache.RedisConfigInfoSection,AbhsChinese.Code" />
  </configSections>
  <redis MaxWritePoolSize="20" MaxReadPoolSize="20" AutoStart="true" WriteServerList="192.168.3.242" ReadServerList="192.168.3.242" />
  <connectionStrings>
    <add name="AbhsChineseConn" connectionString="Server=192.168.3.242;Initial Catalog=SmartChinese;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Redis" value="192.168.3.242:6379,allowAdmin=true,password=123456;ssl=true,abortConnect=false" />
    <add key="RedisHost" value="192.168.3.242:6379" />
    <!--OSS下载地址根路径-->
    <add key="OssHostUrl" value="http://abhstest.oss-cn-beijing.aliyuncs.com" />

    <!--学生端ip-->
    <add key="StudentClientDomain" value="https://192.168.3.242:446/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>