<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AbhsChineseConn" connectionString="Server=.;Initial Catalog=SmartChinese;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <!--郭琪 库-->
  <!--<add name="AbhsChineseConn" connectionString="Server=192.168.3.108;Initial Catalog=SmartChinese;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->
  <!--侯家乐 库--><!--
  <add name="AbhsChineseConn" connectionString="Server=192.168.3.200;Initial Catalog=SmartChinese;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->
</connectionStrings>