<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--微信支付相关-->
  <add key="WeiXinPayNotifyUrl" value="http://localhost:20639/ExternalSystem/WechatPayNotify"/>
  <add key="WeiXinPayAppId" value=""/>
  <add key="WeiXinPaySecret" value=""/>
  <add key="WeiXinPayMchid" value=""/>
  <!--微信支付相关-->

  <!--OSS上传Url/短信-->
  <add key="uploadUrl" value="http://192.168.3.242:8089" />
  <!--OSS上传是subject参数-->
  <add key="OssSubject" value="abhstest" />
  <!--OSS下载地址根路径-->
  <add key="OssHostUrl" value="https://abhstest.oss-cn-beijing.aliyuncs.com" />

  <!--人脸识别-->
  <add key="BaiduAccessToken" value="https://aip.baidubce.com/oauth/2.0/token" />
  <add key="FaceRecognitionAppId" value="ox0sSFus23Xq80sqh3mgWOHe" />
  <add key="FaceRecognitionSecret" value="S4E0FzsQkfH7vFWtFuPpyNsVGksMmKk7" />
  <add key="FaceRecognitionAddURL" value="https://aip.baidubce.com/rest/2.0/face/v3/faceset/user/add" />
  <add key="FaceRecognitionUpdateURL" value="https://aip.baidubce.com/rest/2.0/face/v3/faceset/user/update" />
  <add key="FaceRecognitionDeleteURL" value="https://aip.baidubce.com/rest/2.0/face/v3/faceset/face/delete" />
  <add key="FaceRecognitionLoginURL" value="https://aip.baidubce.com/rest/2.0/face/v3/search" />
  <add key="FaceRecognitionCheckURL" value="https://aip.baidubce.com/rest/2.0/face/v3/detect" />
  <add key="FaceRecognitionGroupId" value="abhstest" />
  <add key="Liveness" value="HIGH" />
  <add key="Quality" value="NORMAL" />

  <!--短信发送配置-->
  <add key="SmsTemplateCodeRegister" value="SMS_168310919"/>
  <add key="SmsTemplateCodeVerify" value="SMS_177252463"/>
  <add key="SmsTemplateCodeLogin" value="SMS_177252458"/>
</appSettings>