<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="redis" type="AbhsChinese.Code.Cache.RedisConfigInfoSection,AbhsChinese.Code" />
  </configSections>
  <redis MaxWritePoolSize="20" MaxReadPoolSize="20" AutoStart="true" WriteServerList="192.168.3.242" ReadServerList="192.168.3.242" />
  <connectionStrings>
    <add name="AbhsChineseConn" connectionString="Server=192.168.3.242;Initial Catalog=SmartChinese;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>