<div class="form-group row">
    <label for="mark1" class="abhs-mark col-1 text-right">
        <input type="checkbox" id="mark1" name="mark" value="1" style="display:none;" />
        <i class="fa fa-lightbulb-o"></i>
    </label>
    <label class="col-1 offset-1 col-form-label text-right required">题干</label>
    <div class="col-9">
        <p name="Name" class="form-control-plaintext"></p>
    </div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group row">
    <label for="mark2" class="abhs-mark col-1 text-right">
        <input type="checkbox" id="mark2" name="mark" value="2" style="display:none;" />
        <i class="fa fa-lightbulb-o"></i>
    </label>
    <label class="col-1 offset-1 col-form-label text-right required">答案</label>
    <div class="col-9">
        <p name="Answer" class="form-control-plaintext"></p>
    </div>
</div>
