<style>
    .table {
        margin-bottom: 0rem;
    }

        .table tr {
            border-bottom: 1px solid #e7eaec;
        }

            .table tr td {
                border-top: none !important;
            }
</style>

<div id="ossfile"></div>
<label class="col-lg-2 col-form-label">上传文件</label>
<div class="col-lg-10">
    <div id="container">
        <table class="table">
            <tbody id="fileContainer"></tbody>
        </table>
        <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
        <a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
    </div>
</div>

<script src="~/Scripts/plupload/plupload.full.min.js"></script>
<script>
    var uploader = new plupload.Uploader({
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'selectfiles',
        //multi_selection: false,
        container: document.getElementById('container'),
        flash_swf_url: 'lib/plupload-2.1.2/js/Moxie.swf',
        silverlight_xap_url: 'lib/plupload-2.1.2/js/Moxie.xap',
        url: '/FileManage/Upload',

        filters: {
            mime_types: [ //只允许上传图片和zip文件
            { title: "Image files", extensions: "jpg,gif,png,bmp" },
            { title: "Zip files", extensions: "zip,rar" }
            ],
            max_file_size: '10mb', //最大只能上传10mb的文件
            prevent_duplicates: true //不允许选取重复文件
        },

        init: {
            PostInit: function () {
                document.getElementById('ossfile').innerHTML = '';
                document.getElementById('postfiles').onclick = function () {
                    set_upload_param(uploader, '', false);
                    return false;
                };
            },

            FilesAdded: function (up, files) {
                //plupload.each(files, function (file) {
                //    document.getElementById('ossfile').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ')<b></b>'
                //    + '<div class="progress"><div class="progress-bar" style="width: 0%"></div></div>'
                //    + '</div>';
                //});
                plupload.each(files, function (file) {
                    document.getElementById('fileContainer').innerHTML += '<tr>' +
                        '<td><input name="uploadFiles" type="hidden" value="" /></td>' +
                        '<td id=' + file.id + ' style="width:80%;">' + file.name + '</td>' +
                        '<td></td>' +
                        '<td><a href="javascript:void(0);" onclick="removeFile(\'' + file.id + '\')"><i class="fa fa-trash-o failed"></i></button></td>' +
                        '</tr>';
                });
            },

            FilesRemoved: function (up, files) {
                let fileId = files[0].id;
                let trNeedRemove = document.getElementById(fileId).parentNode;
                let tBody = document.getElementById('fileContainer');
                tBody.removeChild(trNeedRemove);
            },

            BeforeUpload: function (up, file) {
            },

            UploadProgress: function (up, file) {
                //var d = document.getElementById(file.id);
                //d.getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                //var prog = d.getElementsByTagName('div')[0];
                //var progBar = prog.getElementsByTagName('div')[0]
                //progBar.style.width = 2 * file.percent + 'px';
                //progBar.setAttribute('aria-valuenow', file.percent);
            },

            FileUploaded: function (up, file, info) {
                let response = JSON.parse(info.response);
                if (info.status == 200) {
                    //document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = 'upload to oss success, object name:' + get_uploaded_object_name(file.name) + ' 回调服务器返回的内容是:' + info.response;
                    let tdUploadedState = document.getElementById(file.id).nextSibling;
                    tdUploadedState.innerHTML = '<i class="fa fa-check success"></i>';
                    let tdUploadedUrl = document.getElementById(file.id).previousSibling;
                    tdUploadedUrl.firstChild.nodeValue = response.url;
                } else if (info.status == 203) {
                    document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '上传到OSS成功，但是oss访问用户设置的上传回调服务器失败，失败原因是:' + info.response;
                } else {
                    document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = info.response;
                }
            },

            Error: function (up, err) {
                if (err.code == -600) {
                    document.getElementById('console').appendChild(document.createTextNode("\n选择的文件太大了,可以根据应用情况，在upload.js 设置一下上传的最大大小"));
                } else if (err.code == -601) {
                    document.getElementById('console').appendChild(document.createTextNode("\n选择的文件后缀不对,可以根据应用情况，在upload.js进行设置可允许的上传文件类型"));
                } else if (err.code == -602) {
                    //document.getElementById('console').appendChild(document.createTextNode("\n这个文件已经上传过一遍了"));
                    alert('已经选择改文件！');
                } else {
                    //document.getElementById('console').appendChild(document.createTextNode("\nError xml:" + err.response));
                    let tdUploadedState = document.getElementById('fileContainer').lastChild.previousSibling;
                    tdUploadedState.innerHTML = '<i class="fa fa-times failed"></i>';
                }
            }
        }
    });

    uploader.init();

    function removeFile(id) {
        uploader.removeFile(id);
    }
    function set_upload_param(up, filename, ret) {

        up.start();
    }
</script>